@using MyNotes.Models
@model LoginViewModel
@{
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
    ViewBag.Title = "Sign in - My Notes";
}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="form-title">
                <h2>Sign In</h2>
            </div>
            <div class="col-md-12">
                <div id="loginForm">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-lg", placeholder = "your@email.com" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control input-lg", placeholder = "Your Password" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                <input type="submit" value="Log in" class="btn btn-primary btn-block btn-lg" />
                            </div>
                        </div>

                        <div class="form-group login-links">
                            <ul>
                                <li>
                                    @Html.ActionLink("Register as a new user", "Register", "Account", new { @class = "" })
                                </li>
                                <li>
                                    @Html.ActionLink("Forgot your password?", "ForgotPassword")
                                </li>
                            </ul>
                        </div>
                    }
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}