@{
    Layout = null;
    ViewBag.Title = "My Notes - SAAS Ecom Sample";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <link href="~/Content/css/agency.css" rel="stylesheet" />

    <!-- Custom Fonts -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">My Notes</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#features">Features</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#pricing">Pricing</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#faqs">FAQs</a>
                    </li>
                    <li>
                        @if (Request.IsAuthenticated)
                        {
                            <a href="/dashboard">Dashboard</a>
                        }
                        else
                        {
                            <a href="@Url.Action("Login", "Account")">Login</a>
                        }
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome To My Notes!</div>
                <div class="intro-heading">SAAS Ecom Demo</div>
                <a href="#pricing" class="page-scroll btn btn-xl">Start Free Trial</a>
            </div>
        </div>
    </header>

    <!-- Features Section -->
    <section id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Features</h2>
                    <h3 class="section-subheading text-muted">Save all your notes! Don't forget anything</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Simple to use</h4>
                    <p class="text-muted">This application is very simple to use, just sign up for the trial and check it out.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Secure</h4>
                    <p class="text-muted">This application is protected using SSL encryption. All your data is safe in Microsoft Azure.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-github-alt fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Open Source</h4>
                    <p class="text-muted">This demo is available in GitHub, feel free to download the source code to understand how it is built.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Pricing Section -->
    <section id="pricing" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Pricing</h2>
                    <h3 class="section-subheading text-muted">30-days FREE trial. Credit Card Not Required.</h3>
                </div>
            </div>
            <div class="row">
                <div class="promos">
                    <div class="promo first">
                        <h4>Basic</h4>
                        <ul class="features">
                            <li class="brief">Basic membership</li>
                            <li class="price">$10</li>
                            <li>Some great feature</li>
                            <li>Another super feature</li>
                            <li>And more...</li>
                            <li class="buy"><a href="@Url.Action("Register", "Account", new { plan = "basic" })">Sign up</a></li>
                        </ul>
                    </div>
                    <div class="promo second">
                        <h4>Professional</h4>
                        <ul class="features">
                            <li class="brief">Professional membership</li>
                            <li class="price">$20</li>
                            <li>Some great feature</li>
                            <li>Another super feature</li>
                            <li>And more...</li>
                            <li class="buy"><a href="@Url.Action("Register", "Account", new { plan = "professional" })">Sign up</a></li>
                        </ul>
                    </div>
                    <div class="promo third scale">
                        <h4>Business</h4>
                        <ul class="features">
                            <li class="brief">This is really a good deal!</li>
                            <li class="price">$30</li>
                            <li>Some great feature</li>
                            <li>Another super feature</li>
                            <li>And more...</li>
                            <li class="buy"><a href="@Url.Action("Register", "Account", new { plan = "business" })">Free Trial</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- FAQs Section -->
    <section id="faqs">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Frequently Asked Questions</h2>
                    <h3 class="section-subheading text-muted">We have collected here some of the questions that we receive more often.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-offset-1 col-md-offset-1 col-sm-10 col-md-10">
                    <div class="col-sm-6">
                        <div class="faq">
                            <h4>Q. Can I change plans at any time?</h4>
                            <p>Yes. After you log-in to your dashboard you can upgrade / downgrade plans at any time. Your bill will be pro-rated in that case.</p>
                        </div>
                        <div class="">
                            <h4>Q. What Credit Card number can I use for this demo?</h4>
                            <p>You can use this <strong>Card Number: 4242 4242 4242 4242</strong>, any future date as expiry date and any 3 digits for CVC.</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="faq">
                            <h4>Q. What types of payment do you accept?</h4>
                            <p>Currently we accept Visa, Mastercard, Discover and American Express. We do not accept PayPal. At this time we only accept payments online so we will not be able to accept a P.O., invoice you, or take an order over the phone.</p>
                        </div>
                        <div class="">
                            <h4>Q. I still have a question. How do I contact you?</h4>
                            <p>Send a tweet to @@pedropaf</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; My Notes @DateTime.UtcNow.Year</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://github.com/pedropaf/saas-ecom-my-notes-sample"><i class="fa fa-github-alt"></i></a>
                        </li>
                    </ul>
                    <p style="margin-top: 20px;"><a href="http://www.saasecom.org" target="_blank">Powered by SAAS Ecom</a></p>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li>
                            <a href="#">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="~/Scripts/classie.js"></script>
    <script src="~/Scripts/cbpAnimatedHeader.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="~/Scripts/agency.js"></script>

</body>
</html>
