@model IEnumerable<MyNotes.Models.Note>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h2>My Notes</h2>

<div class="pull-right">
    <p>
        @Html.ActionLink("New Note", "Create", "Notes", new { @class = "btn btn-primary" })
    </p>
</div>

@if (Model.Any())
{
    <table class="table">
        <tr>
            <th>
                Title
            </th>
            <th>
                Text
            </th>
            <th>
                Created
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    @item.CreatedAt.ToShortDateString()
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) -
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) -
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
}
else
{
    
    <h4 style="margin-top: 50px;">You haven't created any notes yet.</h4>
}
